.app__cardContainer{
display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.App{
  display: flex;
  background: #f5f2f2;

}

.app__navbar{
  background-color: #e8edf0;
display: flex;
flex-direction: column;
padding: 25px;
}

.app__right{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
