.app__cardContainer{
  width: 90vw;
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}